codes/fib-boot/fib-application/fib-emall/fib-product/src/main/resources/config/xml/xsd/message-bean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.fib.com/schema/fib-config" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.fib.com/schema/fib-config" elementFormDefault="qualified">
	<xs:element name="message-bean">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="field" />
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string" />
			<xs:attribute name="short-text" use="required" type="xs:string" />
			<xs:attribute name="message-charset" use="required" type="xs:string" />
			<xs:attribute name="class" use="required" type="xs:string" />
			<xs:attribute name="type" default="xml">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="xml" />
						<xs:enumeration value="table" />
						<xs:enumeration value="combine-field" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xpath" type="xs:string" />
			<xs:attribute name="pack-mode" default="template">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="template" />
						<xs:enumeration value="table" />
						<xs:enumeration value="combine-field" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name-space" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<xs:element name="field">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="value-range" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="short-text" use="required" type="xs:string" />
			<xs:attribute name="field-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="fixed-field" />
						<xs:enumeration value="table" />
						<xs:enumeration value="combine-field" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="str" />
						<xs:enumeration value="num" />
						<xs:enumeration value="datetime" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="length" use="required" type="xs:positiveInteger" />
			<xs:attribute name="value" type="xs:string" />
			<xs:attribute name="editable" type="xs:boolean" default="true" />
			<xs:attribute name="pattern" type="xs:string" />
			<xs:attribute name="required" type="xs:boolean" default="false" />
			<xs:attribute name="suffix" type="xs:string" />
			<xs:attribute name="shiled" type="xs:boolean" default="false" />

		</xs:complexType>
	</xs:element>

	<xs:element name="value-range">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="value">
		<xs:complexType>
			<xs:attribute name="short-text" type="xs:string" />
			<xs:attribute name="value" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>