codes/fib-boot/fib-application/fib-emall/fib-order/src/main/resources/config/xml/xsd/fib-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.fib.com/schema/fib-config" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.fib.com/schema/fib-config" elementFormDefault="qualified">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" ref="variables" />
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="category" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="variables">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="variable" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="variable">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="property" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="text" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="property" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="text" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<xs:element name="property">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="value" use="required" type="xs:string" />
			<xs:attribute name="text" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>